.home {
	width: 100%;
}
.section-start {
	width: 100%;
	height: 100rem;
	color: black;

	display: flex;
	align-items: center;
	justify-content: center;

	&__main {
		min-width: $mainWidth;
		height: 80rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 6;


		&__logo {
			width: 37rem;
			height: 10rem;
			// background-repeat: no-repeat;
			// background-size: cover;
			// background-image: url(../../img/logo-ws-black.png);
		}

		&__text {
			height: 80%;
			font-size: 3.5rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			.width-ent-enb {
				width: 100%;
			}

			.text-enterprise, 
			.text-enablement {
				width: 100%;
				height: 13rem;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				// background-position-y: 7rem;
				z-index: 30;
			}

			.text-enterprise {
				margin-left: -9rem;
				margin-bottom: 3rem;
				background-image: url(../../img/Enterprise.png);
			}
			.text-enablement {
				background-image: url(../../img/Enablement.png);
			}
		}

		&__bottom {
			width: 100%;
			height: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;

			.product {
				width: 100%;
				font-size: 2.4rem;

				&__row {
					display: flex;
					flex-direction: row;
					justify-content: space-between;

					&__column {
						width: 29rem;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						transition: 0.3s all linear;

						&__pict {
							border-radius: 50%;
							padding: 1rem;
							width: 7rem;
							height: 7rem;
						}

						.enterpr {
							background-repeat: no-repeat;
							background-size: contain;
							background-image: url(../../img/logo/btn-enterprise.png);
						}

						.custom {
							background-repeat: no-repeat;
							background-size: contain;
							background-image: url(../../img/logo/btn-custom.png);
						}

						.crm {
							background-repeat: no-repeat;
							background-size: contain;
							background-image: url(../../img/logo/btn-busines.png);
						}

						p {
							width: 20rem;
							margin: 0;
						}

						&:hover {
							transition: 0.3s all linear;
							transform: translateY(-0.5rem);
						}
					}
				}
			}
		}
	}

	#particles-js1, #particles-js2 {
		width: 100%;
		height: 100rem;
		position: absolute;
		top: 6rem;
		z-index: 5;
	}
}

#toTop {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background: #1FA6E9;// rgba(118, 191, 255, 0.5); 
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 10rem;
	right: 10rem;
	cursor: pointer;
	display: none;
	color: white;
	font-family: verdana;
	font-size: 3.5rem;
	z-index: 34;

	.toTop-up {
		position: relative;
		top: -2px;
		content: "";
		display: inline-block;
		width: 1.9rem;
		height: 1.8rem;
		border-right: 0.2rem solid white;
		border-top: 0.2rem solid white;
		transform: rotate(-45deg);
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
}

/* ----------------------------- */ 
/* 			Section Integration 		 */ 
/* ----------------------------- */ 
.section-integr {
	width: 100%;
	height: 70rem;
	margin-top: 10rem;
	background-color: $color-main-back;
	display: flex;
	align-items: center;
	justify-content: center;

	&__main {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		max-width: $mainWidth;

		&__row {
			width: 100%;
			display: flex;
			flex-direction: row;

			&__left {
				width: 60rem;
				height: 60rem;
				
				.pict-isometrik {
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url(../../img/cirkle1.png);
				}
				
			}

			&__right {
				width: 60%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				
				.right-hed {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
		
					.text-integration, 
					.text-system {
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}
		
					.text-system {
						width: 30rem;
						height: 5rem;
						background-image: url(../../img/systems.png);
					}
					.text-integration {
						width: 42.5rem;
						height: 13rem;
						background-image: url(../../img/integration.png);
					}
		
					/*	.animate-treugol {
						position: absolute;
						visibility: hidden;
						transform: rotate(180deg) scale(0.5);
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}
					#treugol_1 {
						margin-left: 32rem;
						margin-top: 2rem;
						width: 8.6rem;
						height: 4.5rem;
						background-image: url(../../img/animate/treugolnik-1.png);
					}
					#treugol_2 {
						margin-left: 32rem;
						margin-top: 2rem;
						width: 11rem;
						height: 7.6rem;
						background-image: url(../../img/animate/treugolnik-2.png);
					}
					#treugol_3 {
						margin-left: 32rem;
						margin-top: 2rem;
						width: 7rem;
						height: 5.2rem;
						background-image: url(../../img/animate/treugolnik-3.png);
					}
					#treugol_4 {
						margin-left: 32rem;
						margin-top: 2rem;
						width: 7rem;
						height: 5.4rem;
						background-image: url(../../img/animate/treugolnik-4.png);
					}
					#treugol_5	 {
						margin-left: 32rem;
						margin-top: 2rem;
						width: 6rem;
						height: 5.2rem;
						background-image: url(../../img/animate/treugolnik-5.png);
					}
					*/
					
				}

				h2 {
					font-size: 3rem;
					span {
						font-weight: 200!important;
					}
				}

				.right-body {
					p {
						font-size: 1.6rem;
						line-height: 3rem;
					}

					&__col {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						p {
							width: 30%;
						}
					}
				}
			}
		}
	}
}

/* ----------------------------- */ 
/* 				Section Developers 		 */ 
/* ----------------------------- */ 
.section-developers {
	width: 100%;
	height: 90rem;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;

	&__main {
		width: $mainWidth;
		height: 100%;
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&__hed {
			height: 15rem;
			display: flex;
			align-items: center;
			justify-content: center;

			h2 {
				font-size: 3rem;
			}
		}

		&__row {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

				.card-pict {
					width: 22.8rem;
					height: 22.8rem;
					border-radius: 50%;
					background-repeat: no-repeat;
					background-size: cover;
				}

				.sales-force {
					background-image: url(../../img/logo/SalesForce.png);
				}

				.ring-canral {
					background-image: url(../../img/logo/testRing.png);
				}

				.trello {
					background-image: url(../../img/logo/terlo.png);
				}
				
				.zoom1 {
					background-image: url(../../img/logo/Zoom.png);
				}
				
				.empty-2 {
					background: #1FA6E9;
				}
		}
	}
}

/* ----------------------------- */ 
/* 				Section API 					 */ 
/* ----------------------------- */ 
.section-api {
	width: 100%;
	height: 80rem;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;

	&__main {
		width: $mainWidth;
		height: 80rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		&__left {
			width: 40%;
			font-size: 1.6rem;
			line-height: 3rem;
			padding: 2rem 2rem;
			margin-top: -17rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h2 {
				font-size: 3rem;
				margin-bottom: 2rem;
			}
		}

		&__right {
			position: absolute;
			margin-left: 38rem;
			margin-top: 8rem;
			width: 75rem;
			height: 70rem;
			transform: rotate(-25deg);
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url(../../img/poligons.png);

		}
	}
}

/*
.section-items {
	width: 100%;
	height: 90vh;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;

	&__main {
		width: $mainWidth;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		&__row {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			&__col {
				height: 30rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content:space-around;

				.circle {
					width: 15rem;
					height: 15rem;
					background-color: #B2EBF2;
					border-radius: 50%
				}

				h3 {
					font-size: 2.5rem;
				}
			}
		}
	}
}
*/

/* ----------------------------- */ 
/* 				Section Custom 				 */ 
/* ----------------------------- */ 
.section-custom {
	width: 100%;
	height: 80rem;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;

	&__main {
		width: $mainWidth;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		
		&__left {
			width: 60rem;
			height: 44rem;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../../img/integration2.png);
		}

		&__right {
			width: 45%;
			height: 30rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			&__hed {
				// height: 10%;
				h2 {
					font-size: 3rem;
					text-align: right;
				}
			}

			&__text {
				// width: 90%;
				font-size: 1.6rem;
				p {
					padding-left: 2rem;
					text-align: right;
					line-height: 3rem;
				}
			}
		}
	}
}

/* ----------------------------- */ 
/* 				Section Partners 			 */ 
/* ----------------------------- */ 
.section-partners {
	width: 100%;
	height: 100vh;
	color: black;
	display: flex;
	margin-top: 5rem;
	align-items: flex-start;
	justify-content: center;
	z-index: 21;

	&__main {
		width: $mainWidth;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		&__right {
			width: 60rem;
			height: 100%;
			margin-right: -5rem;

			&__cloud {
				width: 100%;
				height: 55rem;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../../img/cloud/cloud2.png);
				z-index: 20;
			}

			&__lock {
				width: 17%;
				height: 17rem;
				position: absolute;
				margin-top: -45rem;
				margin-left: 20rem;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../../img/cloud/lock.png);
				opacity: 0;
				z-index: 21;
			}

			&__phones {
				margin-top: -5rem;
				width: 100%;
				height: 22rem;
				display: flex;
				justify-content: space-between;
			}

			&__mobail {
				width: 11rem;
				height: 22rem;
				border-radius: 2rem;
				background-repeat: no-repeat;
				background-size: contain;
				transition: all 0.5s ease-in-out;
				box-shadow: 0 4px 16px rgb(183, 205, 255);
				z-index: 10;
			}

			.phone-1 {
				// margin-top: 20rem;
				background-image: url(../../img/cloud/phone1.png);
				&:hover {
					background-image: url(../../img/cloud/phone-zoom.png);
					transform: scale(1.2);
				}
			}
			.phone-2 {
				margin-top: -15rem;
				background-image: url(../../img/cloud/phone2.png);
				&:hover {
					background-image: url(../../img/cloud/phone-trello.png);
					transform: scale(1.2);
				}
			}
			.phone-3 {
				background-image: url(../../img/cloud/phone3.png);

				&:hover {
					background-image: url(../../img/cloud/phone-sales.png);
					transform: scale(1.2);
				}
			}
			.phone-4 {
				margin-top: -13rem;
				background-image: url(../../img/cloud/phone4.png);

				&:hover {
					background-image: url(../../img/cloud/phone-ring.png);
					transform: scale(1.2);
				}
			}
		}

		&__left {
			width: 45%;
			height: 40rem;
			font-size: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			h2 {
				text-align: center;
				font-size: 3rem;
				margin-bottom: 5rem;
			}

			p {
				font-size: 2rem;
				text-align: justify;
				line-height: 3rem;
				margin: 0;
			}
		}
	}
}

.dummy {
	width: 100%;
	height: 180rem;
	// background: white;
}

/* ----------------------------- */ 
/* 				Section Our Clients 	 */ 
/* ----------------------------- */ 
.section-clients {
	width: 100%;
	height: 70rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	z-index: 32;

	&__main {
		width: $mainWidth;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		&__row {
			width: 100%;
			height: 23%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			h2 {
				font-size: 3rem;
				text-transform: uppercase;
				text-align: center;
				color: gray;
			}

			&__col {
				width: 20%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}

			.nespresso {
				background-image: url(../../img/logo/logo-nespresso.png);
			}
			.patron {
				background-image: url(../../img/logo/logo-patron.png);
			}
			.deloitte {
				background-image: url(../../img/logo/logo-deloitte.png);
			}
			.sfai {
				background-image: url(../../img/logo/logo-sfai.png);
			}
			.aple {
				background-image: url(../../img/logo/logo-apple.png);
			}
			.pri {
				background-image: url(../../img/logo/logo-post-ranch-inn.png);
			}
			.umpqua {
				background-image: url(../../img/logo/logo-umpqua.png);
			}
			.google {
				background-image: url(../../img/logo/logo-google.png);
			}
		}
	}
}

/* ----------------------------- */ 
/* 					Media Query 				 */ 
/* ----------------------------- */ 
// @media only screen and (min-width: 901px) { 
// 	.section-slider {
// 		display: none;
// 	}
// }
@media only screen and (max-width: 1100px) { 
	.section-start {
		min-width: 100%;
		&__main {
			width: 100%;
			align-items: center;

			&__text {
				width: 100%;
			}

			&__bottom {
				align-items: center;
				justify-content: center;
				width: 80%;
			}
		}
	}

	.section-integr {
		width: 100%;
		height: 80rem;

		&__main	{
			width: 85rem;

			&__row__left {
				.pict-isometrik {
					height: 50rem;
				}
			}

			&__row__right {
				width: 65%;
				height: 50rem;
				justify-content: space-between;
				h2 {
					line-height: 5rem;
				}
				p {
					font-size: 2rem;
				}
			}

			&__left {
				width: 35%;
				height: 40rem;
			}

			.right-body {
				position: absolute;
				width: 85rem;
				margin: 50rem 0 0 -40rem;
				p {
					font-size: 2rem;
				}
				&__col {
					flex-direction: column;
					p {
						width: 100%;
						font-size: 2rem;
						text-align: left!important;
						margin: 0.5rem 0;
					}
				}
			}
		}
	}

	.section-developers {
		&__main {
			width: 85rem;
			.card-pict {
				width: 20rem;
				height: 20rem;
			}
		}
	}

	.section-api {
		&__main {
			width: 85rem;

			&__left {
				width: 50%;
			}
			&__right {
				width: 55rem;
				height: 55rem;
			}
		}
	}

	.section-custom {
		&__main {
			width: 85rem;
			&__left {
				width: 44rem;
				height: 32rem;
			}
		}
	}

	.section-partners {
		&__main {
			width: 85rem;
			&__right {
				width: 42rem;

				&__lock {
					width: 12rem;
					height: 12rem;
					margin-left: 13rem;
					margin-top: -50rem;
				}

				&__mobail {
					width: 9rem;
					height: 18.4rem;

				}
				.phone-1 {
					margin-top: -15rem;
				}
				.phone-2 {
					margin-top: -25rem;
				}
				.phone-3 {
					margin-top: -14rem;
				}
				.phone-4 {
					margin-top: -24rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 900px) { 
	.section-start {
		&__main	{
			align-items: center;

			&__text {
				align-items: center;
				width: 90%;

				.text-enterprise {
					width: 80vw;
					margin-left: -10vw;
				}
			}

			&__bottom {
				height: 30rem!important;

				.product {
					width: 100%;
					display: flex;
					justify-content: center;
			
					&__row {
						width: 100%;
						flex-direction: column!important;
						justify-content: space-around;
						align-items: center;
						height: 40vh!important;
					}
				}
			}
		}
	}

	.section-integr {
		&__main {
			&__right {
				h2 {
					// font-size: 2rem!important;
				}
				p {
					font-size: 2rem!important;
				}
			}
			&__col {
				width: 90vw;
				margin-left: -30vw;
			}
		}
	}

	.section-developers {
		&__main {
			.zoom1, 
			.empty-1 {
				display: none;
			}
			.empty-3 {
				background-image: url(../../img/logo/Zoom.png);
			}
		}
	}
	// ---- Slider ----------------------------
	/*
	.section-slider {
		width: 100%;
		height: 90rem;
		color: black;
		display: flex;
		align-items: center;
		justify-content: center;

		&__main {
			width: 100vw;
			height: 100%;
			padding: 3rem 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			&__hed {
				height: 15rem;
				display: flex;
				align-items: center;
				justify-content: center;

				h2 {
					font-size: 3rem;
				}
			}

			//--------------
			.slider {
				position: relative;
				width: 95vw;
				margin: 1rem auto;
				box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
			}
			
			.slider input[name="switch"] {
				display: none;
			}
			
			.switch {
				position: absolute;
				left: 0;
				bottom: -40px;
				text-align: center;
				width: 100%;
			}
			
			.switch label {
				display: inline-block;
				width: 8px;
				height: 8px;
				cursor: pointer;
				margin: 0 3px;
				box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
				border-radius: 50%;
				border: 5px solid #2f363c;
				background-color: #738290;
			}
			
			#btn1:checked~.switch label[for="btn1"] {
				background-color: white;
			}
			
			#btn2:checked~.switch label[for="btn2"] {
				background-color: white;
			}
			
			.slider-inner {
				overflow: hidden;

			}
			
			.slides {
				width: 200vw;
				transition: all 0.5s;

				&__row {
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
		
					&__card {
						width: 50%;
						font-size: 1.8rem;
						// box-shadow: 0 0 6rem rgb(187, 187, 187);
						padding: 4rem 2rem;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-around;
		
		
						.card-pict {
							width: 15rem;
							height: 15rem;
							background: #B2EBF2;
							border-radius: 50%;
						}
		
						.sales-force {
							background-repeat: no-repeat;
							background-size: cover;
							background-image: url(../../img/logo/SalesForce.png);
						}
		
						.ring-canral {
							background-repeat: no-repeat;
							background-size: cover;
							background-image: url(../../img/logo/testRing.png);
						}
		
						.trello {
							background-repeat: no-repeat;
							background-size: cover;
							background-image: url(../../img/logo/terlo.png);
						}
						
						.zoom1 {
							background-repeat: no-repeat;
							background-size: cover;
							background-image: url(../../img/logo/Zoom.png);
						}
		
						.card-text {
							width: 60%;
						}
					}
				}
			}
			
			#btn1:checked~slider-inner slides {
				transform: translate(0);
			}
			
			#btn2:checked~.slider-inner .slides {
				transform: translate(-82rem);
			}
		}
	}
 */

	.section-api {
		height: 60rem;
		
		&__main {
			flex-direction: column;

			&__left {
				width: 90%;
			}
		}
	}

	.section-clients {
		width: 100%;
		height: 90rem;

		&__main {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			&__row:first-child {
				width: 100%;
				height: 10rem;;
			}

			&__row {
				flex-direction: column;
				height: 60rem;
				width: 50%;

				&__col {
					width: 50%;
				}
			}
		}
	}

	.section-partners__main {
		flex-direction: column!important;
		&__left {
			&__phones {
				width: 100%;
			}
			&__mobail {
				width: 8rem;
				height: 18rem;
			}	
		}
		&__right {
			width: 90%;
		}
	}
}

@media only screen and (max-width: 768px) {
	#btn2:checked~.slider-inner .slides {
		transform: translate(-70rem)!important;
	}
}

@media only screen and (max-width: 500px) { 
	.navigation {
		&__logo {
			width: 35%;
		}

		&__list {
			padding: 0;
		}
	}
	.section-integr {
		height: 130rem;
	
		&__main {

			&__left {
				width: 60%!important;
				height: 30rem!important;
			}

			&__col {
				flex-direction: column;
				width: 100%;
				& p {
					width: 90%!important;
				}
			}
		}
	}
	.animate-treugol {
		margin-left: 12rem!important;
		margin-top: 3rem!important;
	}

	.section-developers {
		&__main {
			flex-direction: row;

			&__row {
				flex-direction: column;
			}
			.card-pict {
				width: 15rem;
				height: 15rem;
			}
			.empty-1 {
				display: none;
			}
			.empty-3 {
				background-image: url(../../img/logo/Zoom.png);
			}
		}
	}

	// #btn2:checked~.slider-inner .slides {
	// 	transform: translate(-50rem)!important;
	// }

	.section-api__main {
		width: 90%;
		&__left,
		&__right {
			width: 100%;
		}

	}

	.section-partners {
		height: 120vh;

		&__main {

			&__left {
				width: 80%;
				align-items: center;
				justify-content: center;
				&__cloud {
					width: 90%;
					margin-left: 10vw;
				}

				&__phones {
					width: 90%;
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}

	.footer__head {
		flex-direction: column;
	}

}

@media only screen and (max-width: 420px) { 
	#btn2:checked~.slider-inner .slides {
		transform: translate(-40rem)!important;
	}
}

@media only screen and (max-width: 360px) { 
	#btn2:checked~.slider-inner .slides {
		transform: translate(-36rem)!important;
	}
}