.home {
	width: 100%;
}
.section-start {
	width: 100%;
	height: 100vh;
	color: black;

	display: flex;
	align-items: center;
	justify-content: center;

	&__main {
		width: 110rem;
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 6;

		&__hed {
			font-size: 3.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			h2 {
				text-align: center;
			}
			p {
				font-size: 2rem;
				text-align: justify;
			}
		}

		&__tabl {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&__col {
				width: 24%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				&__t-hed {
					height: 20%;
					background-color: #1FA6E9;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&__text {
					height: 19%;
					background-color: rgb(162, 221, 250);
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all 0.6s;
					p {
						font-size: 1.8rem;
					}
				}
				&__text:hover {
					transform: scale(1.1);
					border: 1px solid blue;
				}
			}
		}

		&__bottom {
			width: 100%;
			height: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	#particles-js1 {
		width: 100%;
		height: 100rem;
		position: absolute;
		top: 6rem;
		z-index: 5;
	}
}

#toTop {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background: #1FA6E9;// rgba(118, 191, 255, 0.5); 
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 10rem;
	right: 10rem;
	cursor: pointer;
	display: none;
	color: white;
	font-family: verdana;
	font-size: 3.5rem;
	z-index: 34;

	.toTop-up {
		position: relative;
		top: -2px;
		content: "";
		display: inline-block;
		width: 1.9rem;
		height: 1.8rem;
		border-right: 0.2rem solid white;
		border-top: 0.2rem solid white;
		transform: rotate(-45deg);
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
}


/*
@media only screen and (max-width: 500px) { 
	.section-integr {
		height: 130rem;
	
		&__main {

			&__left {
				width: 60%!important;
				height: 30rem!important;
			}

			&__col {
				flex-direction: column;
				width: 100%;
				& p {
					width: 90%!important;
				}
			}
		}
	}
}
*/