
@keyframes move-phone-1 {
	from, to {}
	0% 	{ margin-left: 0; margin-top: 0}
	33% { margin-top: -2rem; margin-left: -2rem;}
	67% {  margin-top: 2rem; margin-left: 1rem; }
	100% { margin-left: 0; margin-top: 0}
}
.phone-1 { animation: move-phone-1 15s infinite linear; }

@keyframes move-phone-2 {
	from, to {}
	0% 	{ margin-left: 0; margin-top: 0}
	33% { margin-top: 1rem; margin-left: -2rem;}
	67% {  margin-top: -2rem; margin-left: 1rem; }
	100% { margin-left: 0; margin-top: 0}
}
.phone-2 { animation: move-phone-2 17s infinite linear; }

